# Virtual environments
.venv/
venv/
ENV/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Data/Cache (If you want to keep data in repo, you can comment this out)
# congress_trades/raw_*.csv
# congress_trades/kaggle_trades.csv

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# IDE settings
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db
